{% extends 'cards/base.html' %}
{% load static %}

{% block title %}
  Password Reset Complete | Thank U Card
{% endblock %}

{% comment %} 

Password reset complete page
https://docs.djangoproject.com/en/4.2/topics/auth/default/#django.contrib.auth.views.PasswordResetView.html_email_template_name

{% endcomment %}

{% block content %}
  <section class="login-container">
    <div class="login-panel">
      <div class="login-col login-col--form">
        <header class="login-header">
          <h1 class="login-title">Password changed</h1>
          <p class="login-subtitle">Your password has been reset successfully. You can now log in.</p>
        </header>

        <a href="{% url 'login' %}" class="sg-btn login-btn">Log in</a>
      </div>
    </div>
  </section>
{% endblock %}